<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicketingRequestSystem.Properties.Settings.RequestTicketingSystemConnectionString"
            connectionString="Data Source=CATLI;Initial Catalog=RequestTicketingSystem;Persist Security Info=True;User ID=administrator_arielcatli;Password=linux07141995"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>